# Git files
.git
.github
.gitignore

# Documentation
*.md
docs/
LICENSE

# Development files
.idea/
.vscode/
*.swp
*.swo
*~

# Test files
**/*_test.go
testdata/
tests/testdata

# Build artifacts
build/_workspace
build/_bin
build/bin/
build/cache/

# Temporary files
*.tmp
*.log